:root {
  --primary-color:#ff7700;
  --seccondry-color:#3E3E3E;
  --seccondry-color-darker:#353535;
  --text-color: #fff;
  --card-border-radious: 20px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: 'Lilita One', sans-serif;
}

p, label {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
}

h3 {
  font-size: 30px;
}

body {
  margin: auto;
  max-width: 2200px;
  padding: 0;
  background-color: var(--seccondry-color);
  color: var(--text-color);
}

header{
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  margin-top: -1%;
}


header h1 {
  font-size: 45px;
}

header span {
  color: var(--primary-color);
}

.left-header {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.bioimg {
  clip-path: circle();
  max-width: 80%;
  max-height: auto;
  margin-inline: 10%;
  z-index: 3;
}

.right-header {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.right-header p, h1 {
  margin: 5px 100px 5px 5px;
}

.header-text {
  max-width: 600px;
}

nav {
  max-width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

nav img {
  max-width: 50px;
  max-height: 50px;
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 50px;
}

.content-section {
  height: 100%;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

.content-section-title { grid-area: 1 / 1 / 2 / 2; }
.about-me { grid-area: 2 / 1 / 3 / 2; }

.about-me {
  padding-inline: 82px;
  max-width: 1300px;
  margin: auto;
}

.about-me-progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-me progress[value] {
  --porgressBackground: 
    radial-gradient(50% 50%,var(--primary-color) 98%,#0000) top/10% 10% no-repeat,
    conic-gradient(var(--primary-color) calc(var(--p)*1%),var(--seccondry-color-darker) 0); 

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: var(--porgressBackground);
  -webkit-mask: radial-gradient(50% 50%,#0000 79%,#000 80% 100%,#0000 102%)
}
.about-me progress[value]::-webkit-progress-bar {
  background: var(--porgressBackground);
}
.about-me progress[value]::-webkit-progress-value {
  background: #0000;
}
.about-me progress[value]::-moz-progress-bar {
  background: #0000;
}

.about-me label {
  font-size: 20px;
  font-weight: bold;
  display: inline-grid;
  place-content: center;
  width: 220px;
  aspect-ratio: 1;
  position: relative;
  margin: 15px;
}
.about-me label::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 45%;
  background: var(--c);
  transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - 160px/2));
}

.about-me-other-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 900px;
  margin: auto;
}

.about-me-other-skills img {
  clip-path: circle();
  height: auto;
  width: 100px;
}
  
.applications {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-inline: 82px;
  gap: 10px;
  justify-content: space-between;
  align-content: center;
}

.content-section-title { grid-area: 1 / 1 / 2 / 2; }
.applications { grid-area: 2 / 1 / 3 / 2; }


.content-section h2 {
  font-size: 40px;
  color: var(--primary-color);
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-underline-offset: 10px;
  text-align: center;
}

.content-section span {
  color: var(--text-color);
}


.featured-application-card {
  margin: 0px 3px -85px 3px;
  border-radius: var(--card-border-radious);
}

.featured-application-card img {
  border-radius: var(--card-border-radious);
  display: block;
  width: 100%;
  height: auto;
}

.featured-application-card figcaption {
  position:relative;
  bottom: 92px;  
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  border-top: var(--primary-color) solid 5px;
  border-bottom-left-radius: var(--card-border-radious) ;
  border-bottom-right-radius: var(--card-border-radious);
}

.featured-application-card figcaption h3 {
  font-size: 30px ;
  margin: 0px 0px 0px 0px;
  padding: 15px 0px 0px 0px;
}

.featured-application-card figcaption p {
  font-size: 25px;
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 0px 0px;
}

.application-card {
  width: 48.5%;
  margin: auto;
  border-radius: var(--card-border-radious);
}

.application-card img {
  border-radius: var(--card-border-radious);
  width: 100%;
}


@media only screen and (min-width: 1700px) {

  .content-grid {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
  .content-section-title { grid-area: 1 / 1 / 2 / 2; }
  .applications { grid-area: 1 / 2 / 2 / 3; }
  .about-me {grid-area: 1 / 2 / 2 / 3;}

  .content-section h2 {
    margin: 0px 30px 0px 0px;
    text-align: right;
    text-decoration: none;
  }

  .content-section-title {
    border-right: var(--primary-color) solid 5px;
  }

  .applications {
    padding-inline: 45px;
  }
}

@media only screen and (max-width:1163px) {
  .about-me label {
    margin-inline: 6%;
  }
}

@media only screen and (max-width:748px) {
  .about-me label {
    margin-inline: 1%;
    width: 200px;
  }
}

@media only screen and (max-width: 780px) {

  header p {
    font-size: 16px;
  }
  
  header h1 {
    font-size: 35px;
  }

}

@media only screen and (max-width: 600px) {

  nav {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    left: 50%;
    transform: translateX(-50%);
    min-width: 95%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 90px;
    margin: 0px 0px 10px 0px;
    }

  .header-text p, h1 {
    margin-right: 25px;
  }

  header h1 {
    font-size: 25px;
  }

  .applications {
    padding-inline: 15px;
  }

  .application-card {
    width: 100%;
  }

  .featured-application-card {
    margin: 0px 0px -75px 0px;
  }

  .featured-application-card figcaption {
    bottom: 80px;  
  }
  
  .featured-application-card figcaption h3 {
    font-size: 24px ;
    margin: 0px 0px 0px 0px;
    padding: 15px 0px 0px 0px;
  }
  
  .featured-application-card figcaption p {
    font-size: 20px;
    padding: 0px 0px 10px 0px;
  }

  .about-me {
    padding-inline: 15px;
  }

  .about-me label {
    width: 130px;
    margin-inline: 6%;
  }

  .about-me-other-skills img {
    clip-path: circle();
    height: auto;
    width: 50px;
  }
}

@media only screen and (max-width: 375px) {
  .about-me label {
    margin-inline: 3%;
    width: 100px;
  }
}